<header>
  <a href="/">
    <img class="logo" src="assets/header-logo.png" alt="logo">
  </a>
  <p class="title">Budget Application</p>
  <ng-container *ngIf="authChecked$ | async as isAuthChecked; else authLoading">
    <div class="user-section">
      <div *ngIf="userProfile$ | async as userProfile; else loggedOut" class="logged-in">
        <span class="welcome-text">Welcome, {{ userProfile.firstName }}!</span>
        <button (click)="logout()" class="logout-btn">Logout</button>
      </div>
    </div>
  </ng-container>
  <ng-template #loggedOut>
    <div class="logged-out">
      <button (click)="openLoginDialog($event)" class="login-btn" matFab extended>
        Login
      </button>
      <button (click)="openCreateAccountDialog($event)" class="signup-btn" matFab extended>
        Sign Up
      </button>
    </div>
  </ng-template>
  <ng-template #authLoading>
    <div class="loading">
      <span>Loading...</span>
    </div>
  </ng-template>
</header>
<app-navbar></app-navbar>
