header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #e6dda5;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 20px;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    line-height: 50px;
  }
}
